* {
    background: whitesmoke;

}

.img {
    display: flex;
    justify-content: flex-end;
}

.img2 {
    display: flex;
    justify-content: center;

}

* h1 {
    display: flex;
    justify-content: start;
}
